stages:
  - build
  - release

variables:
  BUN_VERSION: "1.1.13"
  NODE_VERSION: "20.12.2"
  EAS_VERSION: "latest"

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/

build-app:
  stage: build
  image: imbios/bun-node:${BUN_VERSION}-${NODE_VERSION}-slim
  variables:
    EXPO_TOKEN: $EAS_TOKEN
    EAS_SKIP_AUTO_FINGERPRINT: 1
  script:
    - echo "Setting up the project..."
    - apt-get update && apt-get install -y git jq curl
    - bun i
    - bun i -g eas-cli@${EAS_VERSION}
    - echo "Building the app with EAS..."
    - export NODE_OPTIONS="--max-old-space-size=4096"
    - echo "Fetching the latest successful build URL..."
    - BUILD_ID=$(bunx eas build:list --platform android --status finished --limit 1 --json --non-interactive | jq -r '.[0].id')
    - if [ -z "$BUILD_ID" ] || [ "$BUILD_ID" == "null" ]; then echo "No successful builds found."; exit 1; fi
    - echo "Found Build ID $BUILD_ID"
    - APK_URL=$(eas build:view $BUILD_ID --json | jq -r ".artifacts.buildUrl")
    - echo "Downloading APK from $APK_URL..."
    - curl -L "$APK_URL" -o gitalchemy.apk
  artifacts:
    paths:
      - gitalchemy.apk
  only:
    - main

create-release:
  stage: release
  image: curlimages/curl:latest
  needs: ["build-app"]
  script:
    - echo "Creating a new release..."
    - RELEASE_TAG="v$(date +'%Y%m%d%H%M%S')"
    - RELEASE_NOTES="Release for commit $CI_COMMIT_SHA"
    - |
      RESPONSE=$(curl --silent --write-out "%{http_code}" --output response.json \
        --header "PRIVATE-TOKEN: $GITLAB_TOKEN" \
        --header "Content-Type: application/json" \
        --request POST \
        --data "{
          \"tag_name\": \"$RELEASE_TAG\",
          \"ref\": \"$CI_COMMIT_REF_NAME\",
          \"name\": \"$RELEASE_TAG\",
          \"description\": \"$RELEASE_NOTES\",
          \"assets\": {
            \"links\": [
              {
                \"name\": \"gitalchemy.apk\",
                \"url\": \"https://gitlab.com/$CI_PROJECT_PATH/-/jobs/${CI_JOB_ID}/artifacts/raw/gitalchemy.apk\"
              }
            ]
          }
        }" \
        "https://gitlab.com/api/v4/projects/$CI_PROJECT_ID/releases")
    - if [ "$RESPONSE" -ne 201 ]; then
      echo "❌ Failed to create release. Response:";
      cat response.json;
      exit 1;
      fi
    - echo "✅ Release $RELEASE_TAG created successfully!"
  only:
    - main
