stages:
  - prepare
  - build
  - release

variables:
  CHANGELOG_FILE: "release_notes.md"
  BUN_VERSION: "1.1.13"
  NODE_VERSION: "20.12.2"
  EAS_VERSION: "latest"

# Cache node modules to speed up the build process
cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/

prepare_job:
  stage: prepare
  image: alpine:latest
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v?\d+\.\d+\.\d+$/'
  script:
    - apk add --no-cache curl jq
    - >
      curl -s -H "PRIVATE-TOKEN: $GITLAB_TOKEN" \
      "$CI_API_V4_URL/projects/$CI_PROJECT_ID/repository/changelog?version=$CI_COMMIT_TAG" \
      | jq -r .notes > $CHANGELOG_FILE
  artifacts:
    paths:
      - $CHANGELOG_FILE

build-app:
  stage: build
  image: imbios/bun-node:${BUN_VERSION}-${NODE_VERSION}-slim
  variables:
    EXPO_TOKEN: $EAS_TOKEN # Map GitLab's EAS_TOKEN to EXPO_TOKEN that EAS CLI expects
    EAS_SKIP_AUTO_FINGERPRINT: 1
  script:
    - echo "Setting up the project..."
    - apt-get update && apt-get install -y git jq curl
    - bun i
    - bun i -g eas-cli@${EAS_VERSION}
    - echo "Building the app with EAS..."
    - export NODE_OPTIONS="--max-old-space-size=4096"
    - echo "Fetching the latest successful build URL..."
    - BUILD_ID=$(bunx eas build:list --platform android --status finished --limit 1 --json --non-interactive | jq -r '.[0].id')
    - if [ -z "$BUILD_ID" ] || [ "$BUILD_ID" == "null" ]; then echo "No successful builds found."; exit 1; fi
    - echo "Found Build ID $BUILD_ID"
    - APK_URL=$(eas build:view $BUILD_ID --json | jq -r ".artifacts.buildUrl")
    - echo "Downloading APK from $APK_URL..."
    - mkdir -p downloaded_apk
    - curl -L "$APK_URL" -o downloaded_apk/app.apk
  artifacts:
    paths:
      - downloaded_apk/app.apk
  only:
    - main

release_job:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  needs:
    - job: prepare_job
      artifacts: true
    - job: build-app
      artifacts: true
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v?\d+\.\d+\.\d+$/'
  script:
    - echo "Creating release for $CI_COMMIT_TAG"
  release:
    name: "Release $CI_COMMIT_TAG"
    description: $CHANGELOG_FILE
    tag_name: "$CI_COMMIT_TAG"
    ref: "$CI_COMMIT_SHA"
    assets:
      links:
        - name: "Container Image $CI_COMMIT_TAG"
          url: "https://$CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:$CI_COMMIT_SHA"
        - name: "gitalchemy.apk"
          url: "https://gitlab.com/$CI_PROJECT_PATH/-/jobs/${CI_JOB_ID}/artifacts/raw/downloaded_apk/app.apk"
